{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% block off_menu %}
    <ul class="off_menu">
        {% for m in off_menu -%}
    <li><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor -%}
    </ul>
{% endblock off_menu %}
{%  if title %}
<h1>{{ title }}</h1>
{% else %}
<h1>Genshin Funzone</h1>
{% endif %}
<ul class="list-posts">
    {% if guides == None %}
    <h3>Здесь будут гайды пользователя. Пока ничего нет</h3>
    {% else %}
    {% for p in guides %}
    <li>
    {% if images.get(p.id) != None %}
    <img src="{{images.get(p.id)}}" alt="img">
    {% endif %}
    <p class="title"><a href="{{ url_for('all_posts.show_post', alias=p.url)}}">{{p.title}}</a></p>
    <p class="annonce">{{ p.text[:200] | safe }}</p>
    {{likes.get(p.id)}}
    </li>
    {% endfor %}
    </ul>
    <ul>
        {% if guides.has_prev %}
            <li><a href="{{ url_for('.my_guides', id=userid, page_num=guides.prev_num)}}"><</a></li>
        {% else %}
            <li><span><</span></li>
        {% endif %}
        {% for page in guides.iter_pages(left_edge=3, right_edge=3) %}
        {% if page %}
            <li><a href="{{ url_for('.my_guides', id=userid, page_num=page)}}">{{page}}</a></li>
        {% else %}
            <li><a href="#">...</a></li>
        {% endif %}
        {% endfor %}
        {% if guides.has_next %}
            <li><a href="{{ url_for('.my_guides', id=userid, page_num=guides.next_num)}}">></a></li>
        {% else %}
            <li><span>></span></li>
        {% endif %}
    </ul>
    {% endif %}
    {% endblock %}