{% extends 'base.html' %}
{% block content %}
{{ super() }}
    <h1>{{ title }}</h1>
    <ul>
        <li><a href="{{url_for('mainapp.index')}}">Главная</a></li>
    <li><a href="{{url_for('all_posts.posts', page_num=1)}}">Посты</a></li>
    {% if current_user.is_authenticated %}
    <li><a href="{{url_for('all_posts.create_post')}}">Создать Пост</a></li>
    {% endif %}
    </ul>
    {% if active_background != None %}
    <img src="{{active_background}}" alt="">
    {% endif %}
    {% if current_user_checker == True %}
    {% for cat, msg in get_flashed_messages(True)%}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    {% block userdata %}
    <a href="{{url_for('.profile_settings', id=current_user.get_id())}}">Настройки</a>
    <table border="0" class="profile-table">
        <tr><td valign="top">
            <div class="profile-ava"><img src="{{url_for('.userava')}}"></div>
            <img src="{{image}}">
        </td>
        <td valign="top" class="profile-panel">
            <li><a href="{{url_for('users.my_guides', id=current_user.get_id(), page_num=1)}}">Мои Гайды</a></li>
            <p><a href="{{url_for('.logout')}}">Выйти</a>
            <ul class="profile-info">
            <li>{{ user_data.login }}</li>
            <li>Количество лайков: {{likes}}</li>
            <li><a href="{{url_for('.achievments', id=user_data.id)}}">Достижения</a></li>
            </ul>
        </td>
        </tr>
    </table>
    {% endblock userdata %}
    {% else %}
    {% block otheruserdata %}
    <table border="0" class="profile-table">
        <tr><td valign="top">
            <div class="profile-ava"><img src="{{user_data.avatar}}"></div>
            </form>
            </div>
        </td>
        <td valign="top" class="profile-panel">
            <li><a href="{{url_for('users.my_guides', id=user_data.id, page_num=1)}}">Гайды пользователя {{user_data.login}}</a></li>
            <ul class="profile-info">
            <li>Имя: {{ user_data.login }}</li>
            <li>Пользователь с {{ user_data.time}}</li>
            <li>Количество лайков: {{likes}}</li>
            <li><img src="{{image}}"></li>
            <li><a href="{{url_for('.achievments', id=user_data.id)}}">Достижения</a></li>
            </ul>
        </td>
        </tr>
    </table>
    {% endblock otheruserdata %}
    {% endif %}
    {% if guides == None %}
    <h3>Здесь будут гайды пользователя. Пока ничего нет</h3>
    {% else %}
    {% for p in guides %}
    <li>
    {% if posts_images.get(p.id) != None %}
    <img src="{{posts_images.get(p.id)}}" alt="img">
    {% endif %}
    <p class="title"><a href="{{ url_for('all_posts.show_post', alias=p.url)}}">{{p.title}}</a></p>
    <p class="annonce">{{ p.text[:200] | safe }}</p>
    {{posts_likes.get(p.id)}}
    </li>
    {% endfor %}
    </ul>
    <ul>
        {% if guides.has_prev %}
            <li><a href="{{ url_for('.profile', username=userid, page_num=guides.prev_num)}}"><</a></li>
        {% else %}
            <li><span><</span></li>
        {% endif %}
        {% for page in guides.iter_pages(left_edge=3, right_edge=3) %}
        {% if page %}
            <li><a href="{{ url_for('.profile', username=userid, page_num=page)}}">{{page}}</a></li>
        {% else %}
            <li><a href="#">...</a></li>
        {% endif %}
        {% endfor %}
        {% if guides.has_next %}
            <li><a href="{{ url_for('.profile', username=userid, page_num=guides.next_num)}}">></a></li>
        {% else %}
            <li><span>></span></li>
        {% endif %}
    </ul>
    {% endif %}
    {% endblock content %}