{% extends 'base.html' %}
{% block content %}
{{ super() }}
    <h1>{{ title }}</h1>
    <ul>
        <li><a href="{{url_for('mainapp.index')}}">Главная</a></li>
    <li><a href="{{url_for('all_posts.posts', page_num=1)}}">Посты</a></li>
    {% if current_user.is_authenticated %}
    <li><a href="{{url_for('all_posts.create_post')}}">Создать Пост</a></li>
    {% endif %}
    </ul>
    {% block admin_pannel %}
    {% if current_user.getAdmin() == 'user' %}
    {% if current_user.isActive() == True %}
    <p><a href="{{url_for('users.admin_request', username = current_user.getName())}}">Заявка на администратора</a></p>
    {% endif %}
    {% else %}
    <p><a href="{{url_for('admin.index')}}">Панель администратора</a></p>
    {% endif %}
    {% endblock admin_pannel %}
    <table border="0" class="profile-table">
        <tr><td valign="top">
            <div class="profile-ava"><img src="{{url_for('static', filename='images/avatars/'+ current_user.getAvatar())}}"></div>
            <div class="profile-load">
            <form action="{{url_for('.upload')}}" method="POST" enctype="multipart/form-data">
                <p><input type="file" name="file">
                <p><input type="submit" value="Загрузить">
            </form>
            </div>
        </td>
        <p><a href="{{url_for('.logout')}}">Выйти</a>
            <ul class="profile-info">
            <li>Имя: {{ current_user.getName() }}</li>
            <li>Email: {{ current_user.getEmail() }}</li>
            <li><button>Изменить e-mail</button></li>
            <li><form action="{{url_for('.change_email', id=current_user.get_id())}}" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
                {{ field() }}
                {% endfor %}
                {{ form.submit() }}
            </form>
            </li>
            Настройка сайд-бара
            {% if user_data.showcharacters == False %}
            <a href="{{url_for('.show_characters')}}">Показывать любимых персонажей</a>
            {% else %}
            <a href="{{url_for('.show_characters')}}">Скрыть любимых персонажей</a>
            {% endif %}
            {% if user_data.showcharacters==True %}
            {% for key in image%}
            <img src="{{url_for('static', filename='/images/characters/' + image.get(key)+ '.jpg')}}">
            <li><form action="{{url_for('.change_character', char_num=key)}}" method="POST" enctype="multipart/form-data">
                <select name="character" class="form-control">
                    {% for i in select_chars %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            <input type="submit" value="Выбрать персонажа">
            </form>
            {% if current_user.charChecker(key) == True %}
            <a href="{{url_for('.delete_char', char_num=key)}}">Удалить персонажа</a>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if recommended_authors != [] %}
            {% for i in recommended_authors %}
            <img src="{{url_for('static', filename='images/avatars/' + i.avatar)}}" alt="">
            <a href="{{url_for('.profile', username=i.id, page_num=1)}}"><span>{{i.login}}</span></a>
            <a href="{{url_for('.user_del_recommendation', userid=i.id)}}">Удалить рекоммендацию</a>
            {% endfor %}
            {% endif %}
            {% if user_data.showauthors == False %}
            <a href="{{url_for('.show_authors')}}">Показывать любимых авторов</a>
            {% else %}
            <a href="{{url_for('.show_authors')}}">Скрыть любимых авторов</a>
            {% endif %}
            {% if user_data.socialshow == False %}
            <a href="{{url_for('.show_socials')}}">Показывать социальные сети</a>
            {% else %}
            <a href="{{url_for('.show_socials')}}">Скрыть социальные сети</a>
            {% endif %}
            {% if user_data.socialservices != None %}
            {% for i in user_data.socialservices %}
            <a href="{{i}}">{{i}}</a>
            <a href="{{url_for('.del_socials', site=i)}}">Удалить социальную сеть</a>
            {% endfor %}
            {% endif %}
            {% if user_data.socialservices != None %}
            {% if user_data.socialservices | length >= 5 %}
            {% else %}  
            Добавить соцсети
            <li><form action="{{url_for('.add_socials', userid=current_user.get_id())}}" method="POST" enctype="multipart/form-data">  
                {{ social_form.hidden_tag() }}
                    {{ social_form.site }}
                    {{ social_form.submit() }}
            <input type="submit" value="Выбрать персонажа">
            </form>
            {% endif %}
            {% else %}
            Добавить соцсети
            <li><form action="{{url_for('.add_socials', userid=current_user.get_id())}}" method="POST" enctype="multipart/form-data">  
                {{ social_form.hidden_tag() }}
                    {{ social_form.site }}
                    {{ social_form.submit() }}
            <input type="submit" value="Выбрать персонажа">
            </form>
            {% endif %}
            {% if user_data.bestpostshow == False %}
            <a href="{{url_for('.show_best_post')}}">Показывать ваш самый оцененный гайд</a>
            {% else %}
            <a href="{{url_for('.show_best_post')}}">Скрыть ваш самый оцененный гайд</a>
            {% endif %}
            {% if backgrounds!=None %}
            <li><form action="{{url_for('.select_background', id=current_user.get_id())}}" method="POST" enctype="multipart/form-data">
                <select name="backgrounds" class="form-control">
                    {% for i in backgrounds %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            <input type="submit" value="Выбрать фон профиля">
            </form>
            {% endif %}
        </ul>
{% endblock content %}