{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% block off_menu %}
    <ul class="off_menu">
        {% for m in off_menu -%}
    <li><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor -%}
    </ul>
{% endblock off_menu %}
<ul>
    <li><a href="{{ url_for('mainapp.index')}}">Главная</a></li>
    <li><span>Персонажи</span></li>
</ul>
{%  if title %}
<h1>{{ title }}</h1>
{% else %}
<h1>Genshin Funzone</h1>
{% endif %}
<ul class="characters-list">
    <li class="chars">
    {% for i in characters %}
    <a href="{{url_for('.character', alias=i.url)}}"><img src="{{i.image}}" alt="{{i.name}}"></a>
    {% endfor %}
    </li>
</ul>
{% endblock content%}