{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% block title %}
    <title>{{ character.name }}</title>
{% endblock title %}
<ul>
    <li><a href="{{ url_for('mainapp.index')}}">Главная</a></li>
    <li><a href="{{ url_for('mainapp.characters')}}">Персонажи</a></li>
    <li><span>{{character.name}}</span></li>
<img src="{{character.image}}" alt="{{character.name}}">
<p>{{character.story}}</p>
<a class="links_character" href="{{url_for('all_posts.posts_character', alias=character.url , page_num=1)}}">Ветка персонажа на форуме</a>
{% endblock content %}