{% extends 'base.html' %}
{% block content %}
{{ super() }}
<main class="content">
    <div class="container crumbs">
        <ul class="crumbs__list">
            <li><a href="{{ url_for('mainapp.index')}}">Главная</a></li>
            <li>Персонажи</li>
        </ul>
    </div>
    <div class="container page-characters">
        {% for i in characters %}
        <a class="character" href="{{url_for('all_posts.posts_character', alias=i.url, page_num=1)}}"><img class="character__img" src="{{url_for('static', filename='/images/characters/'+ i.image + '.jpg')}}" alt="2"><span class="character__name">{{i.name}}</span></a>
        {% endfor %}
    </div>
    <button class="btn btn_color-blue btn-up"></button>
{% endblock content%}