{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% block off_menu %}
    <ul class="off_menu">
        {% for m in off_menu -%}
    <li><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor -%}
    </ul>
{% endblock off_menu %}
{%  if title %}
<h1>{{ title }}</h1>
{% else %}
<h1>Genshin Funzone</h1>
{% endif %}
{% block dayposts %}
{% for p in dayposts %}
{% if p == dayposts[0] %}
<h3><a href="{{ url_for('all_posts.show_post', alias=p.url)}}">{{p.title}}</a></h3>
<p>{{p.text[:110]| safe}}</p>
{% if p.images != None %}
<a href="{{ url_for('all_posts.show_post', alias=p.url)}}"><img src="{{p.images}}" alt="pic"></a>
{% else %}
<a href="{{ url_for('all_posts.show_post', alias=p.url)}}"><img src="{{standart_image}}" alt="pic"></a>
{% endif %}
<p>{{p.likes}}</p>
{% else %}
<p>{{p['time']}}</p>
<a href="{{url_for('all_posts.show_post', alias=p['url'])}}"><img src="{{p['image']}}" alt="{{p['time']}}"></a>
{% endif %}
{% endfor %}
<a href="{{url_for('.all_postsofday', page_num=1)}}">Смотреть все -><img src="{{standart_image}}" alt="Смотреть все ->"></a>
{% endblock dayposts %}
{% endblock content%}
