{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% block off_menu %}
    <ul class="off_menu">
        {% for m in off_menu -%}
    <li><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor -%}
    </ul>
{% endblock off_menu %}
<ul>
    <li><a href="{{ url_for('mainapp.index')}}">Главная</a></li>
    <li><span>Гайды дня</span></li>
</ul>
{%  if title %}
<h1>{{ title }}</h1>
{% else %}
<h1>Genshin Funzone</h1>
{% endif %}
<ul class="list-posts">
    {% for p in posts %}
    <li>
    {% if images.get(p.id) != None %}
    <img src="{{images.get(p.id)}}" alt="img">
    {% endif %}
    <p class="title"><a href="{{ url_for('all_posts.show_post', alias=p.url)}}">{{p.title}}</a></p>
    <p class="annonce">{{ p.text[:300] | safe }}</p>
    {{likes.get(p.id)}}
    </li>
    {% endfor %}
    </ul>
    <ul>
        {% if posts.has_prev %}
            <li><a href="{{ url_for('.all_postsofday', page_num=posts.prev_num)}}"><</a></li>
        {% else %}
            <li><span><</span></li>
        {% endif %}
        {% for page in posts.iter_pages(left_edge=3, right_edge=3) %}
        {% if page %}
            <li><a href="{{ url_for('.all_postsofday', page_num=page)}}">{{page}}</a></li>
        {% else %}
            <li><a href="#">...</a></li>
        {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <li><a href="{{ url_for('.all_postsofday', page_num=posts.next_num)}}">></a></li>
        {% else %}
            <li><span>></span></li>
        {% endif %}
    </ul>
    {% endblock %}