<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    {% block title %}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Genshin Funzone</title>
    {% endif %}
    {% endblock %}
</head>
</html>

<body>
    {% block content -%}
        {% block mainmenu -%}
    <ul class="mainmenu">
    <li><a href="{{url_for('mainapp.index')}}">Главная</a></li>
    <li><a href="{{url_for('all_posts.posts', page_num=1)}}">Гайды</a></li>
    <li><a href="{{url_for('mainapp.characters')}}">Персонажи</a></li>
    <li><a href="{{url_for('mainapp.feedback')}}">Обратная связь</a></li>
    <li><a href="{{url_for('all_posts.create_post')}}">Создать Гайд</a></li>
    {% if current_user.is_authenticated %}
    <img src="{{current_user.getProfileAvatar()}}" alt="">
    {{current_user.getName()}}
    <li><a href="{{url_for('users.profile', username=current_user.get_id(), page_num=1)}}">Профиль</a></li>
    <li><a href="{{url_for('users.my_guides', id=current_user.get_id(), page_num=1)}}">Мои Гайды</a></li>
    <li><a href="{{url_for('users.logout')}}">Выйти</a></li>
    {% else -%}
    <li><a href="{{url_for('users.authorisation')}}">Авторизоваться</a></li>
    <li><a href="{{url_for('users.register')}}">Зарегистрироваться</a></li>
    </ul>
        {% endif %}
        {% endblock mainmenu %}
    {% endblock content %}
    {% if not current_user.is_authenticated %}
    <form action="{{url_for('users.auth_reg')}}" method="post" class="form-authorisation">
        {{ form_auth.hidden_tag() }}
        {% for field in form_auth if field.name not in ['csrf_token', 'remember', 'submit'] -%}
        <p>{{ field.label() }}
        {% if field.errors %}
        {{ field(class="invalid") }}
        <span class="invalid-feedback">
            {% for e in field.errors %}
            {{ e }}
            {% endfor %}
        </span>
        {% else %}
            {{ field() }}
        {% endif %}
        {% endfor %}
        <p>{{ form_auth.remember.label() }} {{ form_auth.remember() }}
        {{ form_auth.submit() }}
        <hr align=left width="300px">
        <p><button>Регистрация</button>
        <p><a href="{{url_for('users.reset_request')}}">Забыли пароль?</a> 
    </form>
    <form action="{{url_for('users.auth_reg')}}" method="post" class="form-contact">
        {{ form_reg.hidden_tag() }}
        {% for field in form_reg if field.name not in ['csrf_token', 'submit'] -%}
        <p>{{ field.label() }}
            {% if field.errors %}
            {{ field(class="invalid") }}
            <span class="invalid-feedback">
                {% for e in field.errors %}
                {{ e }}
                {% endfor %}
            </span>
            {% else %}
                {{ field() }}
            {% endif %}
            {% endfor %}
        <p>{{ form_reg.submit() }}
    </form>
    {% endif %}
</body>
</html>