<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" href="{{ url_for('.static', filename='css/styles.css') }}" rel="stylesheet"/>
<title>{{ title }}</title>
</head>
<body>
    {% if current_user.is_authenticated %}
    <p><a href="{{ url_for('users.profile', username=current_user.get_id()) }}">Профиль</a></p>
    {% endif %}
    <ul class="mainmenu">
    <li><a href="{{ url_for('.index') }}">Главная</a></li>
    <li><a href="{{ url_for('users.logout') }}">Выйти</a></li>
    {% if current_user.getAdmin() == "moderator" or current_user.getAdmin() == "god" %}
    <li><a href="{{ url_for('.listposts') }}">Список постов</a></li>
    <li><a href="{{ url_for('.listusers') }}">Список пользователей</a></li>
    {% endif %}
    {% if current_user.getAdmin() == "feedback" or current_user.getAdmin() == "god" %}
    <li><a href="{{ url_for('.admin_requests') }}">Запросы на администрирование</a></li>
    <li><a href="{{ url_for('.listfeedbacks') }}">Обратная связь</a></li>
    <li><a href="{{ url_for('.add_character') }}">Добавление персонажа</a></li>
    <li><a href="{{ url_for('.admin_make_post') }}">Добавление гайда</a></li>
    {% endif %}
    </ul>
    <div class="clear"></div>
<div class="content">
{% block content -%}
{% endblock %}
</div>
</body>
</html>