{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
<h1>{{ title }}</h1>
<ul class="list-users">
{% for p in list_users %}
<li>
    <p class="title">{{p.login}}</p>
    <img src="{{url_for('static', filename='/images/avatars/' + p.avatar)}}" alt="">
    <p class="title">{{p.email}}</p>
    <p>Изменить статус аккаунта:</p>
    {% if p.isactive %}
    <p class="title"><a href="{{url_for('.user_changestatus', id = p.id)}}">Активный</a></p>
    {% else %}
    <p class="title"><a href="{{url_for('.user_changestatus', id = p.id)}}">Заблокированный</a></p>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}