<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    {% block title %}
    {% if title %}
    <title>Genshin Funzone - {{ title }}</title>
    {% else %}
    <title>Genshin Funzone</title>
    {% endif %}
    {% endblock %}
</head>
</html>

<body>
    {% block content -%}
        {% block mainmenu -%}
    <ul class="mainmenu">
    <li><a href="{{url_for('index')}}">Главная</a></li>
    <li><a href="{{url_for('posts')}}">Посты</a></li>
    <li><a href="{{url_for('create_post')}}">Создать Пост</a></li>
        {% if current_user.is_authenticated %}
    <li><a href="{{url_for('profile', username=current_user.get_id())}}">Профиль</a></li>
    <li><a href="{{url_for('logout')}}">Выйти</a></li>
    {% else -%}
    <li><a href="{{url_for('authorisation')}}">Авторизоваться</a></li>
    <li><a href="{{url_for('register')}}">Зарегистрироваться</a></li>
    </ul>
        {% endif %}
        {% endblock mainmenu %}
    <div class = "content">

    {% endblock content %}
    </div>
</body>
</html>