<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    {% block title %}
    {% if title %}
    <title>Genshin Funzone - {{ title }}</title>
    {% else %}
    <title>Genshin Funzone</title>
    {% endif %}
    {% endblock title %}
</head>
</html>

<body>
    {% block content %}
    <h1>{{ title }}</h1>
    <ul>
        <li><a href="{{url_for('index')}}">Главная</a></li>
    <li><a href="{{url_for('posts')}}">Посты</a></li>
    <li><a href="{{url_for('create_post')}}">Создать Пост</a></li>
    </ul>
    <p><a href="{{url_for('logout')}}">Выйти</a>
    {% endblock content %}
</body>
</html>