{% extends 'base.html' %}
{% block content %}
{{ckeditor.load(pkg_type="standard")}}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
{% if current_user.isActive() %}
<form action="{{url_for('.create_post')}}" method="post" class="form-contact", enctype="multipart/form-data">
    {{ form. csrf_token }}
    {{ form.hidden_tag() }}
    {{form.title.label}}
    {{ form.title(class='form-control') }}
    <select name="character" class="form-control">
        {% for i in select_chars %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>
    {{form.text.label}}
    {{form.text(class='text-control')}}
    {{form.image(multiple="True")}}
    {{ form.submit() }}
</form>
{{ ckeditor.config(name='text') }}
{% else %}
<h1>К сожалению, вы временно не можете создавать посты</h1>
<h3>по причине блокировки аккаунта</h3>
{% endif %}
{% endblock %}