{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
{% block off_menu %}
    <ul class="off_menu">
        {% for m in off_menu -%}
    <li><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor -%}
    </ul>
{% endblock off_menu %}
{% if current_user.isActive() %}
<form action="{{url_for('.create_post')}}" method="post" class="form-contact", enctype="multipart/form-data">
    {{ form. csrf_token }}
    {{ form.hidden_tag() }}
    {{form.title.label}}
    {{ form.title(class='form-control') }}
    {{form.character.label}}
    {{ form.character (class='form-control')}}
    {{form.text.label}}
    {{form.text(class='text-control')}}
    {{form.image(multiple="True")}}
    {{ form.submit() }}
</form>
{% else %}
<h1>К сожалению, вы временно не можете создавать посты</h1>
<h3>по причине блокировки аккаунта</h3>
{% endif %}
{% endblock %}