{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% block title %}
    {% if title %}
    <title>Genshin Funzone - {{ title }}</title>
    {% else %}
    <title>Genshin Funzone</title>
    {% endif %}
    {% endblock %}
{% block off_menu %}
    <ul class="off_menu">
        {% for m in off_menu -%}
    <li><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor -%}
    </ul>
{% endblock off_menu %}
{%  if title %}
<h1>{{ title }}</h1>
{% if current_user.is_authenticated %}
{% if current_user.get_id() == userid %}
<p><a href="{{url_for('all_posts.confirm_delete', alias=url[0])}}">Удалить пост</a></p>
{% endif %}
{% endif %}
{% else %}
<h1>Genshin Funzone</h1>
{% endif %}
{{ post | safe }}
{% block comments %}
{% for p in comments %}
{% for j,k in avatars.items() %}
{% if j == p.username %}
<li>
<div class="profile-ava"><img src="{{avatars[j]}}"></div>
{% endif %}
{% endfor %}
<p class="username">{{p.username}}</p>
<p class="annonce">{{ p.text}}</p>
{% if current_user.is_authenticated %}
{% if current_user.getName() == p.username %}
<p><a href="{{url_for('all_posts.delete_comment', alias=url[0], id=p.id)}}" method="delete">Удалить комментарий</a></p>
{% endif %}
{% endif %}
</li>
{% endfor %}
{% endblock comments %}
{% if current_user.is_authenticated %}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
{% for p in url %}
<form action="{{url_for('.show_post', alias=p)}}" method="post" class="form-contact">
    <p><label>Текст комментария: </label>
    <p><textarea name="comment" rows="5" cols="60"></textarea>
    <p><input type="submit" value="Добавить комментарий"/>
    </form>
{% endfor %}
{% endif %}
{% endblock %}