{% extends 'base.html' %}
{% block content %}
{{ super() }}
<main class="content">
    <div class="container crumbs">
        <ul class="crumbs__list">
            <li><a href="{{ url_for('mainapp.index')}}">Главная</a></li>
            <li><a href="{{ url_for('.posts', page_num=1)}}">Гайды</a></li>
            <li><span>{{title}}</span></li>
        </ul>
    </div>
    <div class="container page-dual-columns">
        <div class="page-dual-columns__content post-content">
            {% if isactive == True %}
            <h1 class="post-content__title">{{ title }}</h1><span class="post-content__info">Автор: <a class="post-content__author" href="{{url_for('users.profile', username=creator.userid, page_num=1)}}">{{creator.username}}</a><span class="post-content__date"></span></span>
            {% if post_image != None %}
            {% for i in post_image %}
            <img class="post-content__img" data-src="{{url_for('static', filename='/images/posts/' + i)}}" alt="" loading="lazy">
            {% endfor %}
            {% endif %}
            <p class="post-content__paragraph">{{ post | safe }}</p>
            {% if current_user.is_authenticated %}
            {% if islike == True %}
            <div class="post_like"><a href="{{url_for('.like_post_inside', post_id=post_id, userid=current_user.get_id(), post_url=url[0], creator=userid)}}">Убрать лайк</a></div>
            {% else %}
            <div class="post_like"><a href="{{url_for('.like_post_inside', post_id=post_id, userid=current_user.get_id(), post_url=url[0], creator=userid)}}">Поставить лайк</a></div>
            {% endif %}
            {% endif %}
            {{ likes }}
            {{ comments_num }}
            {% block comments %}
            <div class="comments-wrap">
                {% for p in comments %}
                <div class="comments__item">
                    <div class="comments__head">
                        <div class="comments__info">
                            <img class="comments__user-avatar" src="{{url_for('static', filename='/images/avatars/' + avatars.get(p.username))}}" alt="avatar">
                            <div><a class="comments__user-name" href="{{url_for('users.profile', username=p.userid, page_num=1)}}">{{p.username}}</a><span class="comments__date">{{date_list[comments.index(p)]}}</span></div>
                        </div>
                    {% if current_user.is_authenticated %}
                    {% if current_user.getName() == p.username %}
                        <a class="comments__delete" href="{{url_for('all_posts.delete_comment', alias=url[0], id=p.id)}}" method="delete"></a>
                    {% endif %}
                    {% endif %}
                    </div>
                    <span class="comments__text">{{ p.text}}</span>
                </div>
                {% endfor %}
            {% endblock comments %}
            {% if islocked==False %}
            {% if current_user.is_authenticated %}
            {% if current_user.isActive() %}
            {% for p in url %}
                <form class="comments-add" action="{{url_for('.show_post', alias=p)}}" method="post">
                    <textarea class="comments-add__textarea" name="comment" rows="1" placeholder="Написать комментарий..."></textarea>
                    <input class="btn btn_color-blue" type="submit" value="Добавить комментарий">
                </form>
                {% endfor %}
                {% else %}
                <h3>Возможность комментирования для вас ограничена</h3>
                {% endif %}
                {% endif %}
                {% else %}
                <h3>Пост закрыт</h3>
                {% endif %}
            </div>
        </div>
            {% else %}
                    <h1> Пост был удалён </h1>
            {% endif %}
        <aside class="page-dual-columns__sidebar sidebar">
            <div class="commencial sidebar__item"><span>Место для вашей рекламы</span></div>
            {% if side_guides %}
            <div class="same-posts sidebar__item"><span class="same-posts__caption">Похожие Гайды</span>
                <div class="same-posts__wrap">
                    {% for i in side_guides %}
                    <a class="post post_square same-posts__item" href="{{url_for('.show_post', alias=i['guide']['url'])}}" style='background-image:url("{{url_for('static', filename=i['image'])}}");'><span class="post-date blur">{{i['time']}}</span>
                        <div class="post__test">
                            <h2 class="post__title">{{i['guide']['title']}}</h2><span class="post__desc">{{i['guide']['text']}}</span>
                        </div>
                        <div class="statistics"><span class="statistics__item icon-like blur">{{i['likes']}}</span><span class="statistics__item icon-comment blur">{{i['comments']}}</span></div></a>
                    {% endfor %}
                </div><a class="btn btn_color-blue same-posts__show-all" href="{{url_for('.posts_query', page_num=1, query_item=userid)}}">Показать все</a>
            {% endif %}
            </div>
        </aside>
    </div>
    <button class="btn btn_color-blue btn-up"></button>
</main>
{% endblock content%}